body{
    background: url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    -webkit-backface-visibility: hidden;
    text-align: center;
}

#root{
    padding-top: 10px;
}

#content{
    position: relative;
    padding-bottom: 100px;
    color: var(--text-color);
}
