/* Rooms Component */
:root{
    --room-size: 1.1rem;
    --room-title-size: 1.5rem;
    --room-title-weight: 600;
    --room-icon-color: rgb(240, 240, 240);
    --title-color: rgb(219, 219, 219);
    --desc-color: rgb(173, 173, 173);
}


/* NEED TO DO

    Either use react-bootstrap, or find a css gird-like library

*/


/* Room Media Queries */

/* Mobile */
/* @media screen and (max-width: 450px) {



    .room-item{
        width: 75%;
    }

}


Tablet
@media screen and (min-width: 450px) {



    .room-item{
        width: 33%;
        min-height: 100px;
        max-height: 100px;

    }

}

Desktop
@media screen and (min-width: 600px) {


    .room-item{
        width: 25%;
        min-height: 150px;
        max-height: 150px;

    }

    #6{
        margin-top: 3rem;
    }

} */

/* Rooms Component */


.room-item{
    margin: 0.5rem 0.75rem;
    padding: 0.5rem;
    display: inline-block;
    background: rgb(0,0,0,0.6);
    border-radius: 10px;
    color: var(--room-color);
}

/* div.room-icon-content{
    -moz-transition: color 0.33s ease-in-out;
    -webkit-transition: color 0.33s ease-in-out;
    -o-transition: color 0.33s ease-in-out;
    -ms-transition: color 0.33s ease-in-out;
    transition: color 0.33s ease-in-out;
} */

#rooms {
    width: 100%;
    height: auto;
    padding: 0 15px;

}
.room label{
    margin-right: 5px;
}
.room{
    position: relative;
    height: auto;
    width: calc(50% - 20px);
    float: left;
    margin: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.room-content{
    display: inline-block;
    padding: 10px 5px;
    width: 100%;
}

.room-connect a{
    display: inline-block;
    color: #fff;
    background-color: #d84780;
    padding: 0.5rem 1rem;
    margin-bottom: 15px;
    
}

.room-connect a:hover{
    background-color: #f3659e;
}